@import "null_style.scss";
@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../src/fonts/gilroy/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../src/fonts/gilroy/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../src/fonts/gilroy/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../src/fonts/gilroy/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../src/fonts/gilroy/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../src/fonts/gilroy/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */

        font-family: 'Gilroy-Medium';
	src: url('../src/fonts/gilroy/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../src/fonts/gilroy/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../src/fonts/gilroy/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../src/fonts/gilroy/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../src/fonts/gilroy/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../src/fonts/gilroy/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

                    // colors used
$txt-gray: #828282;
$txt-black: #000;


body{
    font-size: 18px;
    color: $txt-black;
    font-weight: 500;
}

.my-container{
	max-width: 940px;
	margin: 0 auto;
}

.my-centering{
	margin: 0 auto;
}
                    // header nav
.header{
    padding: 33px 0 104px 0 ;
}

.header__nav-list{
	padding: 0;
	margin: 0;
}

.header__nav-item a{
    color: $txt-gray;
}

.header__nav-item.active a{
    color: $txt-black;
}

.nav{
	margin: 0 0 32px 0;
}

.header__band::after{
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background-color: $txt-gray;
}

					// designer data
.designer-data{
	margin: 40px 0 30px 0;
}

.designer-name h1{
	font-weight: 700;
	font-size: 47px;
}

.designer-age{
	line-height: 0.5;
}

.rotated{
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg) translate(20%, 255%);	
}

					// designer img
